h1, h2{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Lato', sans-serif;
	background: rgb(78, 78, 78);
}

.main{
	padding: 0 15px;
}

.container{
	max-width: 1400px;
	box-sizing: border-box;
	background-color: aliceblue;
	margin: 50px auto 50px auto;
	padding: 50px;
	border: 3px solid black;
	border-radius: 10px;
}


//-------------Add comments start---------------
.add-comments{
	display: flex;
   flex-direction: column;
   row-gap: 30px;
	&__title{
		text-align: center;
		font-size: 40px;
		line-height: 50px;
		font-style: italic;
		text-decoration: underline;
	}
}

.form{
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	width: 40%;
	margin: auto 10% auto auto;
}

.add-form__title{
	font-size: 28px;
	line-height: 32px;
	margin: 0 auto;
}

.form__block{
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	label{
		font-style: italic;
		font-size: 20px;
		font-weight: 700;
	}
	input,
	textarea{
		border-radius: 10px;
		border: 1px solid black;
		padding: 12px;
		max-width: 100%;
	}
	span{
		font-size: 10px;
	}
}


.form__input.error{
	border: 2px solid red;
}

.form__input-error{
	font-size: 10px;
	font-weight: bold;
	font-style: italic;
	color: red;
}

.form__button{
	width: 40%;
	border-radius: 10px;
	padding: 12px 0;
	border: 3px solid black;
	margin: auto 0 auto auto;
	font-weight: 700;
	font-size: 20px;
	background: greenyellow;
	&:hover{
		cursor: pointer;
		background: green;
		transition: all 0.3s ease-in-out;
	}
}
//-----------------Comments end-------------


//----------Comments start----------------
.comments{
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	margin-top: 100px;
}

.comment{
	padding: 15px;
   border: 3px solid black;
   border-radius: 10px;
   background: whitesmoke;
	display: flex;
	flex-direction: column;
	row-gap: 12px;
	&__block{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__name{
		font-size: 24px;
		font-weight: 700;
	}
	&__datatime{
		font-size: 16px;
		font-style: italic;
		font-weight: 400;
		display: flex;
		flex-direction: row;
		column-gap: 10px;
	}
	&__text{
		font-size: 18px;
	}
}

.comment__icons{
	display: flex;
	column-gap: 12px;
	margin: auto 0 auto auto;
	justify-content: flex-end;
}

.comment__like,
.comment__delete{
	display: inline-block;
	width: 30px;
	height: 30px;
	&:hover{
		cursor: pointer;
		transform: scale(1.2);
		transition: all 0.3s ease-in-out;
	}
}

.comment__like{
	background: url("./assets/img/like.svg") no-repeat center;
	background-size: cover;
	&.like{
		background: url("./assets/img/like-red.svg") no-repeat center;
		background-size: cover;;
	}
}

.comment__delete{
	background: url('./assets/img/delete.svg') no-repeat center;
	background-size: cover;
}
//------------Comments end--------------------